#  Python / Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

#  Virtual Environments
.venv/
venv/
env/

#  Environment / Secrets
.env
*.env

#  Log Files
*.log

#  OS / Editor Files
.DS_Store
Thumbs.db
.idea/

secret.sh
*.sqlite*

**/migrations/*.py
!**/migrations/__init__.py



# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
env/
venv/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# PyInstaller
*.spec

# Env vars
.env
.env.*.local

# IDEs / editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db



# Other files
docker-compose-1.yaml
